<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>EZ2DB</title>
</head>
<body>
  <div class="flex_start">
    <div class="info_page_lnb">
      <a href="/grade.html" >서열표</a><br>
      <a href="/login.html" >로그인</a>
      <br>
    </div>
    <div class="info_page_w_lnb">
      <div class="markdown_like">
        <h1>EZ2DB에 대하여</h1>
        <h2>개요</h2>
        <p>
          EZ2DB는 <b>EZ2ON REBOOT:R</b>의 자신의 성과를 저장하기 위한 곳입니다.<br>
          자신의 성과를 이곳에 저장하여 보관할 수 있습니다.<br>
          <br>
          EZ2DB는 게임 제작사와 관련이 없습니다.
        </p>
        <h2> 주요 기능</h2>
        <ul>

          <li>비공식 유저 서열표 제공  <a href="/grade.html">서열표 바로가기</a></li>
          <li>레벨-서열별 성과표 제공  </li>

        </ul>
        <a href="https://gall.dcinside.com/mgallery/board/lists?id=ez2on" target="_blank" class="large_simple_btn">EZ2ON 마이너 갤러리</a><br><br>
        </p>
      </div>
    </div>
  </div>
</body>
</html>