<!DOCTYPE html>
<html>
  <head>
    <title>EZ2DB</title>
    <style>
      span {
        display: inline-block;
        width: 50px;
        margin-top: 15px;
        margin-left: 10px;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
  <form action="signUp", method="POST">
    <input type="hidden" name="_method" value="PUT"/>
    <span>ID</span>
    <input id="userId" type="text" th:field="${member.userId}" /> <br />
    <span>Password</span>
    <input type="text" th:field="${member.password}" /> <br />
    <span>Nickname</span>
    <input type="text" th:field="${member.name}" /> <br />
    <input id="btn_submit" type="submit" />
  </form>
  </body>
  <script>

    let submit = function() {

      let data = {
        "password" : $('#password').value,
        "passwordRe" : $('#passwordRe').value,
      };

      if(data.password != data.passwordRe)
      {
        alert('비밀번호가 일치하지 않습니다');
        return;
      }


      //$.ajax("/signUp", data);



    };

    $('#btn_submit').on('click', submit);

  </script>
</html>